@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCp6KVjbNBYlgoKejZftWyI.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCu6KVjbNBYlgoKeg7z.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCp6KVjbNBYlgoKejYHtGyI.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCp6KVjbNBYlgoKejZPsmyI.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoC1CzTtw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgo6eA.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCjC3Ttw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCxCvTtw.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Rubik Light Italic'), local('Rubik-LightItalic'), url(https://fonts.gstatic.com/s/rubik/v9/iJWBBXyIfDnIV7nEldWY8WU.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Rubik Italic'), local('Rubik-Italic'), url(https://fonts.gstatic.com/s/rubik/v9/iJWEBXyIfDnIV7nErXk.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Rubik Medium Italic'), local('Rubik-MediumItalic'), url(https://fonts.gstatic.com/s/rubik/v9/iJWBBXyIfDnIV7nElY2Z8WU.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Rubik Bold Italic'), local('Rubik-BoldItalic'), url(https://fonts.gstatic.com/s/rubik/v9/iJWBBXyIfDnIV7nElcWf8WU.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Rubik Black Italic'), local('Rubik-BlackItalic'), url(https://fonts.gstatic.com/s/rubik/v9/iJWBBXyIfDnIV7nElf2d8WU.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Rubik Light'), local('Rubik-Light'), url(https://fonts.gstatic.com/s/rubik/v9/iJWHBXyIfDnIV7Fqj1ma.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v9/iJWKBXyIfDnIV4nG.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v9/iJWHBXyIfDnIV7Eyjlma.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Rubik Bold'), local('Rubik-Bold'), url(https://fonts.gstatic.com/s/rubik/v9/iJWHBXyIfDnIV7F6iFma.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Rubik Black'), local('Rubik-Black'), url(https://fonts.gstatic.com/s/rubik/v9/iJWHBXyIfDnIV7FCilma.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v1/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk59FO_F.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v1/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk6jFO_F.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v1/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk79FO_F.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v1/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk7PFO_F.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v1/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4jE-_F.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v1/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4aE-_F.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v1/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk59E-_F.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #1d2029;
  line-height: 1.3;
  outline: none;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.hidden {
  overflow: hidden;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 30px;
}
.header {
  box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}
.header__head {
  padding: 20px 0;
  border-bottom: 1px solid #f5f5f5;
}
.header__head .container {
  display: flex;
  align-items: center;
}
.header__head .container .btn {
  margin-left: 40px;
}
.header__head__logo__desc {
  margin-left: 30px;
  font-size: 12px;
}
.header__head__phone {
  margin-left: auto;
}
.header__head__phone__top {
  display: flex;
  align-items: center;
}
.header__head__phone__top img {
  margin-right: 10px;
}
.header__head__phone__top a {
  font-size: 22px;
  text-decoration: none;
  font-weight: 500;
}
.header__head__phone__desc {
  font-size: 11px;
  text-align: right;
}
.input {
  padding: 1.1em 1.5em;
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
}
.input:focus {
  border: 1px solid #ff6d00;
}
.btn {
  border: 1px solid #ff6d00;
  background: none;
  padding: 1.1em 2em;
  font-size: 12px;
  border-radius: 3px;
  color: #ff6d00;
  cursor: pointer;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
}
.btn:hover {
  background: #ff6d00;
  color: white;
}
.header__nav .container {
  display: flex;
  align-items: center;
}
.header__nav__links {
  display: flex;
  align-items: center;
  margin-left: -20px;
}
.header__nav__links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 20px;
  font-weight: 500;
  color: #ff6d00;
}
.header__nav__links a:hover {
  color: #ff6d00;
}
.header__nav__links a img {
  margin-right: 15px;
}
.header__nav__search {
  padding: 14px;
  margin-left: auto;
  line-height: 0;
}
.header__nav__cart {
  line-height: 0;
  padding: 14px;
  position: relative;
}
.header__nav__cart__count {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 10px;
  background-color: #ff6d00;
  border-radius: 100px;
  padding: 0 5px;
  height: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__main__item__title {
  font-size: 36px;
  font-weight: 500;
}
.slider__main {
  margin-left: -40px;
  margin-right: -40px;
  width: auto;
}
.slider__main__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding: 60px 40px;
}
.slider__main__item .btn {
  margin-top: 40px;
}
.slider__main__item__desc {
  font-size: 20px;
  margin-top: 20px;
}
.slider__main__item__img {
  background-image: url(../img/slide.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.slider__main .owl-dots {
  display: flex;
  justify-content: center;
  margin-top: -40px;
  position: relative;
}
.slider__main button.owl-dot {
  width: 14px;
  height: 14px;
  background-color: #ededed;
  border-radius: 50%;
  margin: 0 4px;
}
.slider__main button.owl-dot.active {
  background-color: #ff6d00;
}
.categories {
  padding: 40px 0;
}
.section__title {
  font-size: 22px;
  font-weight: 500;
}
.categories__items {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: -40px;
  margin-right: -40px;
}
.categories__item {
  padding: 40px;
  text-decoration: none;
}
.categories__item:hover {
  box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.05);
}
.categories__item:hover .categories__item__title {
  color: #ff6d00;
}
.categories__item__title {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
}
.categories__item__img {
  width: 100%;
  height: 160px;
  background-image: url(../img/slide.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.categories__item__desc {
  font-size: 12px;
  text-align: center;
  margin-top: 14px;
}
.about {
  padding: 40px 0;
}
.about .container {
  display: grid;
  grid-template-columns: 360px 1fr;
  grid-gap: 40px;
}
.about__img {
  background-image: url(../img/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about__title {
  font-size: 22px;
  font-weight: 400;
}
.about__desc {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 20px;
}
.partners {
  padding: 40px 0;
}
.partners__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  margin-top: 60px;
}
.partners__item {
  justify-self: center;
  align-self: center;
}
.headhesive {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  transition: 0.2s;
}
.headhesive--stick {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.1);
}
.headhesive--unstick {
  box-shadow: none;
}
.footer {
  background-color: #f8f8f8;
  padding: 40px 0;
  margin-top: auto;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer__logo__desc {
  font-size: 12px;
  margin-top: 20px;
  max-width: 200px;
}
.footer__sec__title {
  font-size: 16px;
  font-weight: 600;
}
.footer__nav__links {
  margin-top: 10px;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}
.footer__nav__links li {
  line-height: 1.8;
}
.footer__nav__links a {
  font-size: 14px;
  text-decoration: none;
}
.footer__nav__links a:hover {
  color: #ff6d00;
}
.footer__contacts__list {
  margin-top: 10px;
}
.footer__contacts__list li {
  line-height: 1.8;
}
.footer__contacts__list a {
  text-decoration: none;
  color: #ff6d00;
}
.footer__contacts__list a.phone {
  font-weight: 600;
}
.copyright {
  padding: 20px 0;
}
.copyright .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright a {
  color: #ff6d00;
  text-decoration: none;
}
.bredcrumbs__block {
  padding: 40px 0;
  padding-bottom: 0;
}
.bredcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.bredcrumbs a {
  color: #ff6d00;
  text-decoration: none;
}
.bredcrumbs_separator {
  margin: 0 10px;
}
.page__title {
  font-size: 30px;
  font-weight: 500;
}
.page__title * {
  font-size: 30px;
  font-weight: 500;
}
.page__title .maincolor {
  font-size: 30px;
  font-weight: 500;
  color: #ff6d00;
}
.search__results {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 20px;
}
.search__result a {
  color: #ff6d00;
  font-size: 16px;
  text-decoration: none;
}
strong {
  font-weight: 600;
}
.textblock {
  padding: 40px 0;
}
.products {
  padding: 40px 0;
}
.page__desc {
  margin-top: 20px;
}
.products__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 40px;
  margin-left: -40px;
  margin-right: -40px;
}
.products__item {
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.products__item:hover {
  box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.05);
}
.products__item:hover .products__item__title {
  color: #ff6d00;
}
.products__item__title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
}
.products__item__desc {
  margin-top: 5px;
  font-size: 12px;
  margin-bottom: 20px;
}
.products__item__btnblock {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}
.products__item__price {
  font-size: 22px;
  color: #ff6d00;
  font-weight: 600;
}
.products__item__img {
  width: 100%;
  height: 160px;
  background-image: url(../img/slide.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
}
.product {
  padding: 40px 0;
}
.product__content {
  display: grid;
  grid-template-columns: 470px 1fr;
  grid-gap: 80px;
}
.product__price {
  margin-top: 20px;
  font-size: 30px;
  color: #ff6d00;
  font-weight: 500;
}
.product__content__text .btn {
  margin-top: 20px;
}
.product__content__text__subtitle {
  font-size: 22px;
  font-weight: 600;
  margin-top: 40px;
}
.product__content__text__table {
  width: 100%;
  margin-top: 20px;
}
.product__content__text__table td {
  padding: 5px 0;
}
.product__content__text__p {
  margin-top: 20px;
}
.product__content__slider__item {
  width: 100%;
  padding-bottom: 100%;
  background-image: url(../img/slide.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
}
.product__content__slider .owl-dots {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}
.product__content__slider button.owl-dot {
  width: 100%;
  padding-bottom: 100% !important;
  background-image: url(../img/slide.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.product__content__slider button.owl-dot.active {
  opacity: 0.5;
}
.cart {
  padding: 40px 0;
}
.cart__products {
  margin-top: 40px;
}
.cart__product {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
}
.cart__product * {
  align-self: center;
}
.cart__product__img {
  width: 100px;
  height: 100px;
  background-image: url(../img/slide.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
}
.cart__product__name {
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
}
.cart__product__price {
  font-size: 16px;
  font-weight: 600;
  color: #ff6d00;
}
.cart__itogo {
  font-size: 22px;
  color: #ff6d00;
  font-weight: 600;
  margin-top: 20px;
  text-align: right;
}
.cart__itogo__cost {
  font-size: 22px;
  color: #ff6d00;
  font-weight: 600;
}
.cart__product__price {
  justify-self: end;
}
.cart__product__delete {
  justify-self: end;
}
.cart__ordering {
  margin-top: 20px;
}
.cart__ordering__block {
  margin-top: 20px;
}
.cart__ordering__block label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
}
.cart__ordering__block .input {
  width: 100%;
}
.cart__ordering__block .radio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}
.cart__ordering__block .radio input {
  margin-right: 10px;
  display: none;
}
.cart__ordering__block .radio input:checked + .radio__text {
  border: 1px solid #ff6d00;
}
.cart__ordering__block .radio input:checked + .radio__text .radio__text__box {
  background-color: #ff6d00;
  box-shadow: inset 0 0 0 4px white;
}
.header__nav__searchform {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.header__nav__searchform button {
  width: 40px;
  height: 39px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  margin-left: -41px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}
.header__nav__searchform button img {
  width: 17px;
}
.searchinput {
  border-radius: 100px;
  padding: 1em 2em;
  width: 300px;
}
.radio__text {
  padding: 20px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  position: relative;
  padding-left: 50px;
  font-size: 12px;
}
.radio__text__box {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
}
.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: flex;
  align-items: flex-start;
  padding-top: 150px;
  justify-content: center;
  display: none;
}
.modal__wrapper__center {
  align-items: center;
  padding-top: 0;
}
.modal {
  background-color: white;
  border-radius: 3px;
  width: 400px;
  position: relative;
}
.modal__head {
  padding: 20px 35px;
  border-bottom: 1px solid #f5f5f5;
}
.modal__body {
  padding: 20px 35px;
  padding-bottom: 35px;
}
.modal__form {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 20px;
}
.modal__form .btn {
  justify-self: start;
}
.modal__form__block {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 10px;
}
.modal__form__checkbox {
  display: flex;
  align-items: start;
}
.modal__form__checkbox input {
  display: none;
}
.modal__form__checkbox input:checked + .modal__form__checkbox__box {
  background-image: url(../img/checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #ff6d00;
}
.modal__form__checkbox__box {
  width: 16px;
  display: block;
  height: 16px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  cursor: pointer;
  margin-right: 10px;
}
.modal__form__checkbox__label {
  font-size: 12px;
}
.modal__form__checkbox__label * {
  font-size: 12px;
}
.modal__form__checkbox__label a {
  color: #ff6d00;
  text-decoration: none;
}
.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 24px;
  cursor: pointer;
}
.products__items__subcategory {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;
}
.products__items__subcategory a {
  margin-right: 20px;
  margin-bottom: 20px;
}
.btn__circle {
  border-radius: 100px;
}
.product__content__text table {
  width: 100% !important;
  margin-top: 20px;
  border: none;
}
.product__content__text table td {
  padding: 5px 0;
  border: none;
}
.product__content__text p {
  margin-top: 20px;
}
.cart__empty .btn {
  margin-top: 40px;
}
.search {
  padding: 40px 0;
}
.header__head__hamburger {
  display: none;
  line-height: 0;
  margin-right: -15px;
  margin-left: 10px;
  width: 54px;
  height: 47px;
  background-image: url(../img/hamburger.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}
.header__head__hamburger.active {
  background-image: url(../img/hamburger_active.svg);
  background-size: 40%;
}
.header__nav__cart__mobile {
  display: none;
}
.header__nav__cart__mobile .header__nav__cart__count {
  top: 9px;
  right: 3px;
}
.mobile__nav .btn {
  margin: 0 auto;
  margin-top: 30px;
  display: block;
  width: calc(100% - 60px);
}
.mobile__nav__wrapper {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 3;
  min-height: calc(100vh - 60px);
  overflow-y: auto;
  display: none;
}
.mobile__nav__wrapper.active {
  display: block;
}
.mobile__nav__links a {
  padding: 15px 30px;
  display: block;
  border-bottom: 1px solid #f5f5f5;
  text-decoration: none;
}
.mobile__nav__links a:hover {
  color: #ff6d00;
}
.services__item .categories__item__img {
  background-size: cover;
}
.contacts__list {
  margin-top: 20px;
}
.contacts__list li {
  margin-bottom: 5px;
  font-size: 18px;
  display: block;
}
.contacts__list li * {
  font-size: 18px;
}
.contacts__list li a {
  color: #ff6d00;
  text-decoration: none;
}
.contacts__list .contacts__list__label {
  opacity: 0.5;
  font-size: 14px;
  margin-top: 20px;
  display: block;
}
.contacts__map {
  width: 100%;
  height: 500px;
  margin-top: 40px;
}
.prices__items {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 20px;
}
.prices__item {
  display: flex;
  align-items: center;
}
.prices__item__icon {
  margin-right: 20px;
}
.prices__item__link {
  font-size: 14px;
  text-decoration: none;
  color: #ff6d00;
}
.about__company__text {
  margin-top: 40px;
}
.about__company__galery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  margin-top: 40px;
}
.about__company__galery__item {
  display: block;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
