@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@black: #1d2029;
@main: #ff6d00;

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    //font-family: "Rubik", sans-serif;
    //font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: @black;
    line-height: 1.3;
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 30px;
}

.header {
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.05);
    background-color: #fff;
}



.header__head {
    padding: 20px 0;
    border-bottom: 1px solid #f5f5f5;

    .container {
        display: flex;
        align-items: center;

        .btn {
            margin-left: 40px;
        }
    }
}

.header__head__logo__desc {
    margin-left: 30px;
    font-size: 12px;
}

.header__head__phone {
    margin-left: auto;
}

.header__head__phone__top {
    display: flex;
    align-items: center;

    img {
        margin-right: 10px;
    }

    a {
        font-size: 22px;
        text-decoration: none;
        font-weight: 500;
    }
}

.header__head__phone__desc {
    font-size: 11px;
    text-align: right;
}

.input {
    padding: 1.1em 1.5em;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid lighten(black, 90%);

    &:focus {
        border: 1px solid @main;
    }
}

.btn {
    border: 1px solid @main;
    background: none;
    padding: 1.1em 2em;
    font-size: 12px;
    border-radius: 3px;
    color: @main;
    cursor: pointer;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;

    &:hover {
        background: @main;
        color: white;
    }
}

.header__nav {
    .container {
        display: flex;
        align-items: center;
    }
}

.header__nav__links {
    display: flex;
    align-items: center;
    margin-left: -20px;

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 20px;
        font-weight: 500;
        color: @main;

        &:hover {
            color: @main;
        }

        img {
            margin-right: 15px;
        }
    }
}

.header__nav__search {
    padding: 14px;
    margin-left: auto;
    //background-color: gray;
    line-height: 0;
}

.header__nav__cart {
    line-height: 0;
    padding: 14px;
    position: relative;

}

.header__nav__cart__count {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 10px;
    background-color: @main;
    border-radius: 100px;
    //width: 16px;
    padding: 0 5px;
    height: 16px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__main__item__title {
    font-size: 36px;
    font-weight: 500;
}

.slider__main {
    margin-left: -40px;
    margin-right: -40px;
    width: auto;
}

.slider__main__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 60px 40px;

    .btn {
        margin-top: 40px;
    }
}

.slider__main__item__desc {
    font-size: 20px;
    margin-top: 20px;
}

.slider__main__item__img {
    background-image: url(../img/slide.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.slider__main .owl-dots {
    display: flex;
    justify-content: center;
    margin-top: -40px;
    position: relative;
}

.slider__main button.owl-dot {
    width: 14px;
    height: 14px;
    background-color: #ededed;
    border-radius: 50%;
    margin: 0 4px;

    &.active {
        background-color: @main;
    }
}

.categories {
    padding: 40px 0;
}

.section__title {
    font-size: 22px;
    font-weight: 500;
}

.categories__items {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: -40px;
    margin-right: -40px;
}

.categories__item {
    padding: 40px;
    text-decoration: none;

    &:hover {
        box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.05);

        .categories__item__title {
            color: @main;
        }
    }
}

.categories__item__title {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
}

.categories__item__img {
    width: 100%;
    height: 160px;
    background-image: url(../img/slide.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.categories__item__desc {
    font-size: 12px;
    text-align: center;
    margin-top: 14px;
}

.about {
    padding: 40px 0;

    .container {
        display: grid;
        grid-template-columns: 360px 1fr;
        grid-gap: 40px;
    }
}

.about__img {
    background-image: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about__title {
    font-size: 22px;
    font-weight: 400;
}

.about__desc {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
    grid-gap: 20px;
}

.partners {
    padding: 40px 0;
}

.partners__items {
    display: grid;
    //grid-template-columns: repeat(auto-fill, minmax(max-content, 0));
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    margin-top: 60px;
}

.partners__item {
    justify-self: center;
    align-self: center;
}

.headhesive {
    transform: translateY(-100%);
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    transition: 0.2s;

}

.headhesive--stick {
    transform: translateY(0);
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.1);
}

.headhesive--unstick {
    box-shadow: none;
}


.footer {
    background-color: #f8f8f8;
    padding: 40px 0;
    margin-top: auto;

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.footer__logo__desc {
    font-size: 12px;
    margin-top: 20px;
    max-width: 200px;
}

.footer__sec__title {
    font-size: 16px;
    font-weight: 600;
}

.footer__nav__links {
    margin-top: 10px;
    column-count: 2;

    li {
        line-height: 1.8;
    }

    a {
        font-size: 14px;
        text-decoration: none;

        &:hover {
            color: @main;
        }
    }
}

.footer__contacts__list {
    margin-top: 10px;

    li {
        line-height: 1.8;
    }

    a {
        text-decoration: none;
        color: @main;

        &.phone {
            font-weight: 600;
        }
    }
}

// a {
//     color: @main;
//     text-decoration: none;
// }
.copyright {
    padding: 20px 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    a {
        color: @main;
        text-decoration: none;
    }
}

.bredcrumbs__block {
    padding: 40px 0;
    //border-bottom: 1px solid #f5f5f5;
    padding-bottom: 0;
}

.bredcrumbs {
    display: flex;
    align-items: center;

    a {
        color: @main;
        text-decoration: none;
    }
}

.bredcrumbs_separator {
    margin: 0 10px;
}

.page__title {
    font-size: 30px;
    font-weight: 500;
}

strong {
    font-weight: 600;
}

.textblock {
    padding: 40px 0;
}

.products {
    padding: 40px 0;
}

.page__desc {
    margin-top: 20px;
}

.products__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
    margin-left: -40px;
    margin-right: -40px;
}

.products__item {
    padding: 40px;
    display: flex;
    flex-direction: column;

    &:hover {
        box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.05);

        .products__item__title {
            color: @main;
        }
    }
}

.products__item__title {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
}

.products__item__desc {
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 20px;
}

.products__item__btnblock {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.products__item__price {
    font-size: 22px;
    color: @main;
    font-weight: 600;
}

.products__item__img {
    width: 100%;
    height: 160px;
    background-image: url(../img/slide.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
}

.product {
    padding: 40px 0;
}

.product__content {
    display: grid;
    grid-template-columns: 470px 1fr;
    grid-gap: 80px;
}

.product__price {
    margin-top: 20px;
    font-size: 30px;
    color: @main;
    font-weight: 500;
}

.product__content__text {
    .btn {
        margin-top: 20px;
    }
}

.product__content__text__subtitle {
    font-size: 22px;
    font-weight: 600;
    margin-top: 40px;
}

.product__content__text__table {
    width: 100%;
    margin-top: 20px;

    td {
        padding: 5px 0;
    }
}

.product__content__text__p {
    margin-top: 20px;
}

.product__content__slider__item {
    width: 100%;
    padding-bottom: 100%;
    background-image: url(../img/slide.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
}

.product__content__slider {
    .owl-dots {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        margin-top: 20px;
    }

    button.owl-dot {
        width: 100%;
        padding-bottom: 100% !important;
        background-image: url(../img/slide.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &.active {
            opacity: 0.5;
        }
    }
}

//========================cart=========================================//
.cart {
    padding: 40px 0;
}

.cart__products {
    margin-top: 40px;
}

.cart__product {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    border-bottom: 1px solid #f5f5f5;

    * {
        align-self: center;
    }
}

.cart__product__img {
    width: 100px;
    height: 100px;
    background-image: url(../img/slide.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
}

.cart__product__name {
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
}

.cart__product__price {
    font-size: 16px;
    font-weight: 600;
    color: @main;
}

.cart__itogo {
    font-size: 22px;
    color: @main;
    font-weight: 600;
    margin-top: 20px;
    text-align: right;
    // border-top: 1px solid #f5f5f5;
    // padding-top: 20px;
}

.cart__itogo__cost {
    font-size: 22px;
    color: @main;
    font-weight: 600;
}

.cart__product__price {
    justify-self: end;
}

.cart__product__delete {
    justify-self: end;
}

.cart__ordering {
    margin-top: 20px;
}

.cart__ordering__block {
    margin-top: 20px;

    label {
        display: block;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .input {
        width: 100%;
    }

    .radio {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: max-content;
        cursor: pointer;

        input {
            margin-right: 10px;
            display: none;

            &:checked+.radio__text {
                border: 1px solid @main;

                .radio__text__box {
                    background-color: @main;
                    box-shadow: inset 0 0 0 4px white;
                }
            }
        }

    }
}

.header__nav__searchform {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 15px;

    button {
        width: 40px;
        height: 39px;
        border-radius: 100px;
        border: none;
        cursor: pointer;
        margin-left: -41px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;

        img {
            width: 17px;
        }
    }
}

.searchinput {
    border-radius: 100px;
    padding: 1em 2em;
    width: 300px;
}

.radio__text {
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    position: relative;
    padding-left: 50px;
    font-size: 12px;
}

.radio__text__box {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #e6e6e6;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.modal__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: flex;
    align-items: flex-start;
    padding-top: 150px;
    justify-content: center;
    display: none;
}

.modal {
    background-color: white;
    border-radius: 3px;
    width: 400px;
    position: relative;
}

.modal__head {
    padding: 20px 35px;
    border-bottom: 1px solid #f5f5f5;
}

.modal__body {
    padding: 20px 35px;
    padding-bottom: 35px;
}

.modal__form {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
    grid-gap: 20px;

    .btn {
        justify-self: start;
    }
}

.modal__form__block {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
    grid-gap: 10px;
}

.modal__form__checkbox {
    display: flex;
    align-items: start;

    input {
        display: none;

        &:checked {
            &+.modal__form__checkbox__box {
                background-image: url(../img/checkbox.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border: 1px solid @main;

            }
        }
    }
}

.modal__form__checkbox__box {
    width: 16px;
    display: block;
    height: 16px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    margin-right: 10px;
}

.modal__form__checkbox__label {
    font-size: 12px;

    * {
        font-size: 12px;
    }

    a {
        color: @main;
        text-decoration: none;
    }
}

.modal__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 24px;
    cursor: pointer;
}

.products__items__subcategory {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;

    a {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

.btn__circle {
    border-radius: 100px;
}

.product__content__text table {
    width: 100% !important;
    margin-top: 20px;
    border: none;
}

.product__content__text table td {
    padding: 5px 0;
    border: none;
}

.product__content__text p {
    margin-top: 20px;
}

.cart__empty {
    .btn {
        margin-top: 40px;
    }
}