{% set title = 'Главная' %} {% extends 'layouts/_main.html' %} {% block content
%}

<!-- bredcrumbs -->
<div class="bredcrumbs__block">
    <div class="container">
        <ul class="bredcrumbs">
            <li><a href="">Главная</a></li>
            <li class="bredcrumbs_separator">»</li>
            <li>Каталог</li>
        </ul>
    </div>
</div>
<!--END bredcrumbs -->

<!-- about-company -->
<div class="categories">
    <div class="container">
        <h1 class="page__title">О компании</h1>
        <div class="about__company__text">
            <p>
                ООО « ПРОТЭКО» — развивающаяся многопрофильная организация с
                производственным опытом более 15 лет на российском рынке.
                Сегодня это достойная конкуренция как российским проводителям
                ТЭН, так и зарубежным предприятиям. Завод был основан в 2002
                году.
            </p>
            <p>&nbsp;</p>
            <p>
                За 15 лет успешной работы был реализован сложный инженерный
                проект — промышленное производство электрических нагревателей,
                теплового оборудования, комплектующих для грузовых авто.
            </p>
        </div>
        <div class="about__company__galery">
            <!-- about__company__galery__item -->
            <a
                data-fancybox="galery__item"
                href="http://proteko.su/sites/default/files/styles/gallery_page/public/files/page/field_galery/IMG_9807.jpg?itok=7HxFVEk_"
                class="about__company__galery__item"
                style="
                    background-image: url(http://proteko.su/sites/default/files/styles/gallery_page/public/files/page/field_galery/IMG_9807.jpg?itok=7HxFVEk_);
                "
            ></a>
            <!-- about__company__galery__item -->
            <!-- about__company__galery__item -->
            <a
                data-fancybox="galery__item"
                href="http://proteko.su/sites/default/files/styles/gallery_page/public/files/page/field_galery/IMG_9807.jpg?itok=7HxFVEk_"
                class="about__company__galery__item"
                style="
                    background-image: url(http://proteko.su/sites/default/files/styles/gallery_page/public/files/page/field_galery/IMG_9807.jpg?itok=7HxFVEk_);
                "
            ></a>
            <!-- about__company__galery__item -->
            <!-- about__company__galery__item -->
            <a
                data-fancybox="galery__item"
                href="http://proteko.su/sites/default/files/styles/gallery_page/public/files/page/field_galery/IMG_9807.jpg?itok=7HxFVEk_"
                class="about__company__galery__item"
                style="
                    background-image: url(http://proteko.su/sites/default/files/styles/gallery_page/public/files/page/field_galery/IMG_9807.jpg?itok=7HxFVEk_);
                "
            ></a>
            <!-- about__company__galery__item -->
        </div>
    </div>
</div>
<!--END about-company -->

{% endblock %}
