{% set title = 'Главная' %} {% extends 'layouts/_main.html' %} {% block content
%}
<!-- bredcrumbs -->
<div class="bredcrumbs__block">
    <div class="container">
        <ul class="bredcrumbs">
            <li><a href="">Главная</a></li>
            <li class="bredcrumbs_separator">»</li>
            <li>Корзина</li>
        </ul>
    </div>
</div>
<!--END bredcrumbs -->
<!-- cart -->
<div class="cart">
    <div class="container">
        <h1 class="page__title">Корзина</h1>
        <div class="cart__products">
            <!-- cart__product -->
            <div class="cart__product">
                <a href="/" class="cart__product__img"></a>
                <a href="/" class="cart__product__name">ТЭНБ для воды 12,0 кВт (угл.сталь)</a>
                <div class="cart__product__price">2500 руб.</div>
                <form action="">
                    <input type="number" class="input">
                </form>
                <form action="" class="cart__product__delete">
                    <button class="btn">х</button>
                </form>
            </div>
            <!-- cart__product -->
            <!-- cart__product -->
            <div class="cart__product">
                <a href="/" class="cart__product__img"></a>
                <a href="/" class="cart__product__name">ТЭНБ для воды 12,0 кВт (угл.сталь)</a>
                <div class="cart__product__price">2500 руб.</div>
                <form action="">
                    <input type="number" class="input">
                </form>
                <form action="" class="cart__product__delete">
                    <button class="btn">х</button>
                </form>
            </div>
            <!-- cart__product -->
        </div>
        <div class="cart__itogo"><span>Итого:</span> 17 400 руб.</div>
        <form class="cart__ordering">
            <div class="section__title">Оформление заказа</div>
            <div class="cart__ordering__block">
                <label for="">Ваш Email:</label>
                <input type="text" placeholder="example@mail.ru" class="input">
                <label for="">Ваше имя:</label>
                <input type="text" placeholder="Иван" class="input">
                <label for="">Ваш номер телефона:</label>
                <input type="text" placeholder="+7 (999) 999-9999" class="input">
                <label for="">Комментарий к заказу:</label>
                <textarea name="" id="" cols="30" rows="10" class="input"></textarea>
            </div>
            <div class="cart__ordering__block">
                <label for="">Способы оплаты:</label>
                <label for="radio-1" class="radio">
                    <input id="radio-1" type="radio">
                    <span class="radio__text">
                        <span class="radio__text__box"></span>
                        Оплата при получении
                    </span>
                </label>
                <label for="">Варианты доставки:</label>
                <label for="radio-2" class="radio">
                    <input id="radio-2" type="radio">
                    <span class="radio__text">
                        <span class="radio__text__box"></span>
                        Доставка курьером
                    </span>
                </label>
            </div>
            <div class="cart__ordering__block">
                <label for="">Почтовый индекс:</label>
                <input type="text" placeholder="454000" class="input">
                <label for="">Область:</label>
                <input type="text" placeholder="Челябинская" class="input">
                <label for="">Город:</label>
                <input type="text" placeholder="Челябинск" class="input">
                <label for="">Улица:</label>
                <input type="text" placeholder="Ленина" class="input">
                <label for="">Дом:</label>
                <input type="text" placeholder="1" class="input">
                <label for="">Квартира:</label>
                <input type="text" placeholder="1" class="input">
            </div>
            <div class="cart__ordering__block">
                <button class="btn">Оформить заказ</button>
            </div>
        </form>
    </div>
</div>
<!--END cart -->
{% endblock %}