{% set title = 'Главная' %} {% extends 'layouts/_main.html' %} {% block content
%}

<!-- bredcrumbs -->
<div class="bredcrumbs__block">
    <div class="container">
        <ul class="bredcrumbs">
            <li><a href="">Главная</a></li>
            <li class="bredcrumbs_separator">»</li>
            <li>Каталог</li>
        </ul>
    </div>
</div>
<!--END bredcrumbs -->

<!-- categories -->
<div class="categories">
    <div class="container">
        <!-- <h2 class="section__title">Каталог продукции</h2> -->
        <h1 class="page__title">Каталог продукции</h1>
        <div class="categories__items">
            <!-- categories__item -->
            <a href="" class="categories__item">
                <div class="categories__item__img"></div>
                <h3 class="categories__item__title">ТЭН и блоки ТЭН</h3>
                <div class="categories__item__desc">
                    Трубчатые электронагреватели, блоки ТЭН и комплектующие
                </div>
            </a>
            <!--END categories__item -->
            <!-- categories__item -->
            <a href="" class="categories__item">
                <div class="categories__item__img"></div>
                <h3 class="categories__item__title">ТЭН и блоки ТЭН</h3>
                <div class="categories__item__desc">
                    Трубчатые электронагреватели, блоки ТЭН и комплектующие
                </div>
            </a>
            <!--END categories__item -->
            <!-- categories__item -->
            <a href="" class="categories__item">
                <div class="categories__item__img"></div>
                <h3 class="categories__item__title">ТЭН и блоки ТЭН</h3>
                <div class="categories__item__desc">
                    Трубчатые электронагреватели, блоки ТЭН и комплектующие
                </div>
            </a>
            <!--END categories__item -->
            <!-- categories__item -->
            <a href="" class="categories__item">
                <div class="categories__item__img"></div>
                <h3 class="categories__item__title">ТЭН и блоки ТЭН</h3>
                <div class="categories__item__desc">
                    Трубчатые электронагреватели, блоки ТЭН и комплектующие
                </div>
            </a>
            <!--END categories__item -->
            <!-- categories__item -->
            <a href="" class="categories__item">
                <div class="categories__item__img"></div>
                <h3 class="categories__item__title">ТЭН и блоки ТЭН</h3>
                <div class="categories__item__desc">
                    Трубчатые электронагреватели, блоки ТЭН и комплектующие
                </div>
            </a>
            <!--END categories__item -->
            <!-- categories__item -->
            <a href="" class="categories__item">
                <div class="categories__item__img"></div>
                <h3 class="categories__item__title">ТЭН и блоки ТЭН</h3>
                <div class="categories__item__desc">
                    Трубчатые электронагреватели, блоки ТЭН и комплектующие
                </div>
            </a>
            <!--END categories__item -->
            <!-- categories__item -->
            <a href="" class="categories__item">
                <div class="categories__item__img"></div>
                <h3 class="categories__item__title">ТЭН и блоки ТЭН</h3>
                <div class="categories__item__desc">
                    Трубчатые электронагреватели, блоки ТЭН и комплектующие
                </div>
            </a>
            <!--END categories__item -->
            <!-- categories__item -->
            <a href="" class="categories__item">
                <div class="categories__item__img"></div>
                <h3 class="categories__item__title">ТЭН и блоки ТЭН</h3>
                <div class="categories__item__desc">
                    Трубчатые электронагреватели, блоки ТЭН и комплектующие
                </div>
            </a>
            <!--END categories__item -->
        </div>
    </div>
</div>
<!--END categories -->

<!-- textblock -->
<div class="textblock">
    <div class="container">
        <p>
            <strong>Электронагреватели трубчатые ТЭНы</strong> - предназначены
            для нагрева различных сред путем конвекции, теплопередачи и
            излучения посредством преобразования электрической энергии в
            тепловую и применяются в качестве комплектующих изделий в
            промышленных и бытовых установках.
        </p>
        <br />
        <p>
            <strong>Электронагреватели трубчатые ТЭНы</strong> - предназначены
            для нагрева различных сред путем конвекции, теплопередачи и
            излучения посредством преобразования электрической энергии в
            тепловую и применяются в качестве комплектующих изделий в
            промышленных и бытовых установках.
        </p>
        <br />
        <strong>Материалы оболочек ТЭН:</strong>
        <ul>
            <li>Труба углеродистая</li>
            <li>Труба нержавеющая</li>
            <li>Труба нержавеющая цельнотянутая</li>
        </ul>
    </div>
</div>
<!--END textblock -->

{% endblock %}
