{% set title = 'Главная' %} {% extends 'layouts/_main.html' %} {% block content
%}
<!-- bredcrumbs -->
<div class="bredcrumbs__block">
    <div class="container">
        <ul class="bredcrumbs">
            <li><a href="">Главная</a></li>
            <li class="bredcrumbs_separator">»</li>
            <li>Каталог</li>
        </ul>
    </div>
</div>
<!--END bredcrumbs -->
<!-- product -->
<div class="product">
    <div class="container">
        <div class="product__content">
            <div class="product__content__images">
                <div class="product__content__slider owl-carousel">
                    <!-- product__content__slider__item -->
                    <a href="" data-fancybox data-src="img/slide.png" class="product__content__slider__item" data-thumb="img/slide.png"></a>
                    <!--END product__content__slider__item -->
                    <!-- product__content__slider__item -->
                    <a href="" data-fancybox data-src="img/slide.png" class="product__content__slider__item" data-thumb="img/slide.png"></a>
                    <!--END product__content__slider__item -->
                    <!-- product__content__slider__item -->
                    <a href="" data-fancybox data-src="img/slide.png" class="product__content__slider__item" data-thumb="img/slide.png"></a>
                    <!--END product__content__slider__item -->
                </div>
            </div>
            <div class="product__content__text">
                <h1 class="page__title">
                    ТЭНБ для воды 12,0 кВт (угл.сталь)
                </h1>
                <div class="product__price">50000 ₽</div>
                <a href="" class="btn">В корзину</a>
                <div class="product__content__text__subtitle">
                    Характеристики
                </div>
                <table class="product__content__text__table">
                    <tr>
                        <td>Материал изготовления</td>
                        <td>углеродистая сталь</td>
                    </tr>
                    <tr>
                        <td>Мощность</td>
                        <td>12,0 кВт</td>
                    </tr>
                    <tr>
                        <td>Номинальное напряжение</td>
                        <td>220/380</td>
                    </tr>
                    <tr>
                        <td>Длина (L)</td>
                        <td>425 мм</td>
                    </tr>
                </table>
                <div class="product__content__text__subtitle">
                    Описание
                </div>
                <p class="product__content__text__p">
                    Блок электронагревателей (ТЭНБ) представляет собой группу
                    ТЭН, в которую входит герметичный электронагреватель и
                    фланец, прикрепленный с помощью сварки или пайки. Количество
                    и конструкция ТЭНов в готовом блоке может быть различной.
                    Также вы можете заказать у нас фланец блока по
                    индивидуальному чертежу.
                    <br />
                    <br />
                    Уникальность ТЭНБ в том, что они используется для быстрого и
                    высокотемпературного нагрева (воды, антифриза). Блоки ТЭН
                    используются в качестве комплектующих изделий в промышленных
                    электроустановках. Устройство рассчитано на работу в
                    агрессивных средах, таких как растворы кислот и щелочей. При
                    изготовлении используются качественные материалы,
                    способствующие длительной и бесперебойной работе блока ТЭН.
                    Корпус ТЭНБ изготовлен из жаропрочной, жаростойкой и
                    коррозийной стали, а нагревателем выступает специальная
                    проволока с высоким уровнем электрического сопротивления.
                </p>
            </div>
        </div>
    </div>
</div>
<!--END product -->
<!-- products -->
<div class="products">
    <div class="container">
        <div class="section__title">Похожие товары</div>
        <div class="products__items">
            <!-- products__item -->
            <div class="products__item">
                <a href="/" class="products__item__img"></a>
                <a href="/" class="products__item__title">Комплектующие для ТЭНБ</a>
                <div href="/" class="products__item__desc">
                    Защитный колпак G 1 1/2, G 1 1/4
                </div>
                <div class="products__item__btnblock">
                    <div class="products__item__price">50000 ₽</div>
                    <button class="btn">В корзину</button>
                </div>
            </div>
            <!--END products__item -->
            <!-- products__item -->
            <div class="products__item">
                <a href="/" class="products__item__img"></a>
                <a href="/" class="products__item__title">Комплектующие для ТЭНБ</a>
                <div href="/" class="products__item__desc">
                    Защитный колпак G 1 1/2, G 1 1/4
                </div>
                <div class="products__item__btnblock">
                    <div class="products__item__price">50000 ₽</div>
                    <button class="btn">В корзину</button>
                </div>
            </div>
            <!--END products__item -->
            <!-- products__item -->
            <div class="products__item">
                <a href="/" class="products__item__img"></a>
                <a href="/" class="products__item__title">Комплектующие для ТЭНБ</a>
                <div href="/" class="products__item__desc">
                    Защитный колпак G 1 1/2, G 1 1/4
                </div>
                <div class="products__item__btnblock">
                    <div class="products__item__price">50000 ₽</div>
                    <button class="btn">В корзину</button>
                </div>
            </div>
            <!--END products__item -->
            <!-- products__item -->
            <div class="products__item">
                <a href="/" class="products__item__img"></a>
                <a href="/" class="products__item__title">Комплектующие для ТЭНБ</a>
                <div href="/" class="products__item__desc">
                    Защитный колпак G 1 1/2, G 1 1/4
                </div>
                <div class="products__item__btnblock">
                    <div class="products__item__price">50000 ₽</div>
                    <button class="btn">В корзину</button>
                </div>
            </div>
            <!--END products__item -->
        </div>
    </div>
</div>
<!-- products -->
{% endblock %}