{% set title = 'Главная' %} {% extends 'layouts/_main.html' %} {% block content
%}
<!-- bredcrumbs -->
<div class="bredcrumbs__block">
    <div class="container">
        <ul class="bredcrumbs">
            <li><a href="">Главная</a></li>
            <li class="bredcrumbs_separator">»</li>
            <li>Каталог</li>
        </ul>
    </div>
</div>
<!--END bredcrumbs -->

<!-- products -->
<div class="products">
    <div class="container">
        <h1 class="page__title">Блоки ТЭН, комплектующие</h1>
        <p class="page__desc">
            Блок ТЭН или (ТЭНБ) используется в оборудовании для подогрева
            жидкостей, в том числе и масла. Чаще всего блоки ТЭНов установлены в
            водонагревателях, котлах, парогенераторах, а также других установках
            бытового и промышленного назначения.
        </p>
        <div class="products__items">
            <!-- products__item -->
            <div class="products__item">
                <a href="/" class="products__item__img"></a>
                <a href="/" class="products__item__title"
                    >Комплектующие для ТЭНБ</a
                >
                <div href="/" class="products__item__desc">
                    Защитный колпак G 1 1/2, G 1 1/4
                </div>
                <div class="products__item__btnblock">
                    <div class="products__item__price">50000 ₽</div>
                    <button class="btn">В корзину</button>
                </div>
            </div>
            <!--END products__item -->
            <!-- products__item -->
            <div class="products__item">
                <a href="/" class="products__item__img"></a>
                <a href="/" class="products__item__title"
                    >Комплектующие для ТЭНБ</a
                >
                <div href="/" class="products__item__desc">
                    Защитный колпак G 1 1/2, G 1 1/4
                </div>
                <div class="products__item__btnblock">
                    <div class="products__item__price">50000 ₽</div>
                    <button class="btn">В корзину</button>
                </div>
            </div>
            <!--END products__item -->
            <!-- products__item -->
            <div class="products__item">
                <a href="/" class="products__item__img"></a>
                <a href="/" class="products__item__title"
                    >Комплектующие для ТЭНБ</a
                >
                <div href="/" class="products__item__desc">
                    Защитный колпак G 1 1/2, G 1 1/4
                </div>
                <div class="products__item__btnblock">
                    <div class="products__item__price">50000 ₽</div>
                    <button class="btn">В корзину</button>
                </div>
            </div>
            <!--END products__item -->
            <!-- products__item -->
            <div class="products__item">
                <a href="/" class="products__item__img"></a>
                <a href="/" class="products__item__title"
                    >Комплектующие для ТЭНБ</a
                >
                <div href="/" class="products__item__desc">
                    Защитный колпак G 1 1/2, G 1 1/4
                </div>
                <div class="products__item__btnblock">
                    <div class="products__item__price">50000 ₽</div>
                    <button class="btn">В корзину</button>
                </div>
            </div>
            <!--END products__item -->
            <!-- products__item -->
            <div class="products__item">
                <a href="/" class="products__item__img"></a>
                <a href="/" class="products__item__title"
                    >Комплектующие для ТЭНБ</a
                >
                <div href="/" class="products__item__desc">
                    Защитный колпак G 1 1/2, G 1 1/4
                </div>
                <div class="products__item__btnblock">
                    <div class="products__item__price">50000 ₽</div>
                    <button class="btn">В корзину</button>
                </div>
            </div>
            <!--END products__item -->
            <!-- products__item -->
            <div class="products__item">
                <a href="/" class="products__item__img"></a>
                <a href="/" class="products__item__title"
                    >Комплектующие для ТЭНБ</a
                >
                <div href="/" class="products__item__desc">
                    Защитный колпак G 1 1/2, G 1 1/4
                </div>
                <div class="products__item__btnblock">
                    <div class="products__item__price">50000 ₽</div>
                    <button class="btn">В корзину</button>
                </div>
            </div>
            <!--END products__item -->
            <!-- products__item -->
            <div class="products__item">
                <a href="/" class="products__item__img"></a>
                <a href="/" class="products__item__title"
                    >Комплектующие для ТЭНБ</a
                >
                <div href="/" class="products__item__desc">
                    Защитный колпак G 1 1/2, G 1 1/4
                </div>
                <div class="products__item__btnblock">
                    <div class="products__item__price">50000 ₽</div>
                    <button class="btn">В корзину</button>
                </div>
            </div>
            <!--END products__item -->
            <!-- products__item -->
            <div class="products__item">
                <a href="/" class="products__item__img"></a>
                <a href="/" class="products__item__title"
                    >Комплектующие для ТЭНБ</a
                >
                <div href="/" class="products__item__desc">
                    Защитный колпак G 1 1/2, G 1 1/4
                </div>
                <div class="products__item__btnblock">
                    <div class="products__item__price">50000 ₽</div>
                    <button class="btn">В корзину</button>
                </div>
            </div>
            <!--END products__item -->
        </div>
    </div>
</div>
<!-- products -->

{% endblock %}
