{% set title = 'Главная' %} {% extends 'layouts/_main.html' %} {% block content
%}

<!-- bredcrumbs -->
<div class="bredcrumbs__block">
    <div class="container">
        <ul class="bredcrumbs">
            <li><a href="">Главная</a></li>
            <li class="bredcrumbs_separator">»</li>
            <li>Каталог</li>
        </ul>
    </div>
</div>
<!--END bredcrumbs -->

<!-- categories -->
<div class="categories">
    <div class="container">
        <!-- <h2 class="section__title">Каталог продукции</h2> -->
        <h1 class="page__title">Услуги</h1>
        <div class="categories__items">
            <!-- categories__item -->
            <a href="" class="categories__item services__item">
                <div
                    class="categories__item__img"
                    style="
                        background-image: url(https://metallrc.ru/images/rezka.jpg);
                    "
                ></div>
                <h3 class="categories__item__title">Лазерная резка</h3>
                <!-- <div class="categories__item__desc">
                    Трубчатые электронагреватели, блоки ТЭН и комплектующие
                </div> -->
            </a>
            <!--END categories__item -->
            <!-- categories__item -->
            <a href="" class="categories__item services__item">
                <div
                    class="categories__item__img"
                    style="
                        background-image: url(https://www.lazermetal.ru/upload/iblock/d19/d19a0eefa1e425e29f3490fced0abca6.jpg);
                    "
                ></div>
                <h3 class="categories__item__title">Сварка</h3>
                <!-- <div class="categories__item__desc">
                    Трубчатые электронагреватели, блоки ТЭН и комплектующие
                </div> -->
            </a>
            <!--END categories__item -->
            <!-- categories__item -->
            <a href="" class="categories__item services__item">
                <div
                    class="categories__item__img"
                    style="
                        background-image: url(https://lh3.googleusercontent.com/proxy/1kjs5kTe2q8UTMgne1wea_LzB22KxBAgfRiAVqvO5mYnpXxRM4D7k-FptDlYCgz7JLL1AG6SbptUWUxLI4AuiPX7vqB6RYUGMAAz);
                    "
                ></div>
                <h3 class="categories__item__title">Гибка металла</h3>
                <!-- <div class="categories__item__desc">
                    Трубчатые электронагреватели, блоки ТЭН и комплектующие
                </div> -->
            </a>
            <!--END categories__item -->
            <!-- categories__item -->
            <a href="" class="categories__item services__item">
                <div
                    class="categories__item__img"
                    style="
                        background-image: url(https://lh3.googleusercontent.com/proxy/Jio5P9myKcGkIzzJFuiP3P0VnlZcUpoQJLs3cMcaEwWfy7x5lkq99L40qHAFmAeYv3HkUgzq3DGVZzIukuscc1i86LqY2jCEci97Am-d);
                    "
                ></div>
                <h3 class="categories__item__title">Порошковая покраска</h3>
                <!-- <div class="categories__item__desc">
                    Трубчатые электронагреватели, блоки ТЭН и комплектующие
                </div> -->
            </a>
            <!--END categories__item -->
        </div>
    </div>
</div>
<!--END categories -->

<!-- textblock -->
<div class="textblock">
    <div class="container">
        <p>
            <strong>Электронагреватели трубчатые ТЭНы</strong> - предназначены
            для нагрева различных сред путем конвекции, теплопередачи и
            излучения посредством преобразования электрической энергии в
            тепловую и применяются в качестве комплектующих изделий в
            промышленных и бытовых установках.
        </p>
        <br />
        <p>
            <strong>Электронагреватели трубчатые ТЭНы</strong> - предназначены
            для нагрева различных сред путем конвекции, теплопередачи и
            излучения посредством преобразования электрической энергии в
            тепловую и применяются в качестве комплектующих изделий в
            промышленных и бытовых установках.
        </p>
        <br />
        <strong>Материалы оболочек ТЭН:</strong>
        <ul>
            <li>Труба углеродистая</li>
            <li>Труба нержавеющая</li>
            <li>Труба нержавеющая цельнотянутая</li>
        </ul>
    </div>
</div>
<!--END textblock -->

{% endblock %}
